@import './variables';

.about {
    margin-top: 7rem;
    width: 100%;
    height: 100vh;

    &__inner {
        display: flex;
        padding: 1.5rem;

        .about-profile {
            width: 80%;
            animation: slide-right 1s ease-in;
            
            img {
                width: 100%;
            }
        }

        .about-content {
            width: 90%;
            color: $primary-color;
            margin-left: 1rem;
            font-size: 1.2rem;
            line-height: 1.4;
            animation: slide-left 1s ease-in;
            
            p:nth-child(1) {
                margin-top: 0;
            }

            &__laurels {
                width: 100%;
                display: flex;
                justify-content: space-around;

                .laurel {
                    width: 10rem;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .about {
    
        &__inner {
            flex-direction: column;

            .about-profile {
                width: 100%;
                margin-bottom: 1rem;
            }

            .about-content {
                width: 100%;
                margin: 0;
            }
        }
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}