@import './variables';
@import './mixins';

.home {
    width: 100%;
    height: 100%;

    a:link, a:visited {
        color: $secondary-color;

        &:hover {
            color: $secondary-color;
        }
    }

    
    &__inner {
        .home__content {
    
            @include center;
            width: 300px;
            min-width: 680px;
            color: $secondary-color;
            text-align: center;
            padding: 2rem;
            z-index: 2;
    
            
            h1, p {
                margin: 0;
            }
            
            h1 {
                animation: moveDown 1s ease-in;
                font-size: $h1;
                text-transform: uppercase;
                line-height: 1;
            }
    
            h2 {
                animation: moveRight 1s ease-in;
            }
    
            p {
                font-size: 1.2rem;
                line-height: 1.2;
                margin-bottom: 1rem;
                animation: moveLeft 1s ease-in;
            }
    
            button {
                @include button;
                animation: moveUp 1s ease-in;
            }
        }

        .landing-video {
            position: fixed;
            object-fit: cover;
            right: 0;
            bottom: 0;
            width: 100%;
            min-width: 100%;
            min-height: 100%;
        }
    }
}

@media (max-width: $mobile) {
    .home {
        &__overlay {
            .home__content {
                width: 90%;
                min-width: 90%;

                h1 {
                    font-size: $h1-mobile;
                }

                p {
                    font-size: 1rem;
                }
            }
        }
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    80% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

