@import './variables';

// Flexbox

@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// position center of the page

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// fixed full screen

@mixin fullscreen-fixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

// background-images 

@mixin background-images {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// dropdown toggle

@mixin toggle($content) {
    content: $content;
    position: absolute;
    top: -.4rem;
    right: 1.5rem;
    display: block;
}

// page nav background

@mixin page-nav-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: $sub-page-background;
    z-index: 998;
}

// sub page width and height

@mixin sub-page-setup {
    width: 100%;
    height: 100%;
    background-color: $sub-page-background;
    padding-top: 8rem;
    padding-bottom: 5rem;
    color: $primary-color;
}

@mixin sub-page-content {
    width: 70%;
    margin: 0 auto;
    line-height: 1.9;
}