@import './mixins';

.more {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 9rem;

    .contact-form {
        margin: 0 auto;

        h1 {
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-size: 1.2rem;
        }

        h1, label, p {
            color: #fff;
        }

        label, input, textarea {
            padding: .5rem;
            font-size: 1.1rem;
            font-family: 'Roboto', sans-serif;
        }

        label, input {
            margin-bottom: .5rem;
        }

        textarea, h1 {
            margin-bottom: 1rem;
        }

        .button {
            background: #fff;
            border: none;
            font-size: 20px;
            cursor: pointer;
            text-transform: uppercase;
            animation: slideUp 1s ease-in;
            font-family: 'Roboto', sans-serif;
            -webkit-appearance: none;
        }

        display: flex;
        flex-direction: column;
        width: 800px;
    }
}

// @keyframes slideUp {
//     0% {
//         transform: translateY(100px);
//         opacity: 0;
//     }
//     80% {
//         transform: translateY(-10px);
//     }
//     100% {
//         transform: translateY(0);
//         opacity: 1;
//     }
// }

// @keyframes slideDown {
//     0% {
//         transform: translateY(-100px);
//         opacity: 0;
//     }
//     80% {
//         transform: translateY(10px);
//     }
//     100% {
//         transform: translateY(0);
//         opacity: 1;
//     }
// }

// @keyframes slideLeft {
//     0% {
//         transform: translateX(-300px);
//         opacity: 0;
//     }
//     80% {
//         transform: translateX(10px);
//     }
//     100% {
//         transform: translateY(0);
//         opacity: 1;
//     }
// }

// @keyframes slideRight {
//     0% {
//         transform: translateX(300px);
//         opacity: 0;
//     }
//     80% {
//         transform: translateX(-10px);
//     }
//     100% {
//         transform: translateX(0);
//         opacity: 1;
//     }
// }

@media (max-width: 800px) {
    .more {
    
        .contact-form {

            h1 {
                font-size: 1.3rem;
            }
            
            width: calc(100% - 2rem);
            max-width: calc(100% - 2rem);
        }
    }
}
