@import './variables';
@import './mixins';

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100vw;
    height: 5rem;
    background: pink;
    z-index: 999;
    @include flex-row;
    justify-content: space-between;

    &__logo, &__list {
        margin: 0 2rem;
    }

    &__list {
        width: 18rem;
        @include flex-row;
        justify-content: space-between;

        .nav__list-item, .nav__dropdown-item {
            display: inline-block;
        }

        .nav__list-item {
            padding: 25px 20px;
            cursor: pointer;
        }

        .dropdown-trigger {
            position: relative;

            &:hover .nav__dropdown {
                left: -3rem;
                opacity: 1;
            }
        }

        .nav__dropdown {
            position: absolute;
            top: 4.2rem;
            left: 13rem;
            width: 245px;
            opacity: 0;
            background: pink;
            padding: 1rem;
            transition: all 100ms ease-in-out;

            .nav__dropdown-item {
                padding: 15px 5px;
            }
        }
    }
}