@import './variables';
@import './mixins';

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100vw;
    height: 5rem;
    background: pink;
    z-index: 999;
    @include flex-row;
    justify-content: space-between;

    &__logo, &__list, .hamburger {
        margin: 0 1.5rem;
    }

    &__list {
        width: 18rem;
        @include flex-row;
        justify-content: space-between;

        .nav__list-item, .nav__dropdown-item {
            display: inline-block;
        }

        .nav__list-item {
            padding: 25px 20px;
            cursor: pointer;
        }

        .dropdown-trigger {
            position: relative;

            &:hover .nav__dropdown {
                left: -3rem;
                opacity: 1;
            }
        }

        .nav__dropdown {
            position: absolute;
            top: 4.2rem;
            left: 13rem;
            width: 245px;
            opacity: 0;
            background: pink;
            padding: 1rem;
            transition: all 100ms ease-in-out;

            .nav__dropdown-item {
                padding: 15px 5px;
            }
        }
    }
}

.hamburger {
    display: none;
    position: relative;
    width: 45px;
    height: 20px;
    cursor: pointer;
    z-index: 999;

    &__bar {
        position: absolute;
        left: 0;
        width: 26px;
        height: 2px;
        background: $primary-color;
        transition: all 200ms ease-in-out;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(1) {
            top: 10px;
        }

        &:nth-child(2) {
            top: 20px;
        }

        .open > & {
            transition: all 200ms ease-in-out;
        }

        .open > &:first-child {
            top: 10px;
            transform: rotate(135deg);
            transition: all 200ms ease-in-out;
        }

        .open > &:nth-child(2) {
            opacity: 0;
            left: -60px;
            transition: all 200ms ease-in-out;
        }
        
        .open > &:nth-child(3) {
            top: 10px;
            transform: rotate(-135deg);
            transition: all 200ms ease-in-out;
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    right: -100%;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background: #212121;
    @include flex-column;
    transition: all 300ms ease-in-out;

    &__list {
        margin-top: 6rem;
        width: 100%;
        color: $primary-color;
        padding: 0 1rem;
        font-size: $overlay-size;

        .overlay__item {
            position: relative;
            cursor: pointer;
            padding-bottom: .5rem;
            border-bottom: .5px solid $primary-color;
        }

        .overlay__trigger::after {
            @include toggle('+')
        }

        .overlay__trigger-active::after {
            @include toggle('-')
        }

        .overlay__item:not(:nth-child(3)) {
            margin-bottom: 1rem;
        }
    }

    .overlay__dropdown-item {
        font-size: $overlay-dropdown-size;
        margin-bottom: .5rem;
    }

    &__dropdown {
        opacity: 0;
        height: 0;
    }

    &__dropdown-show {
        opacity: 1;
        height: initial;
        margin-top: 1rem;
    }
}

.show {
    right: 0;
    opacity: 1;
}

@media (max-width: $mobile) {

    .nav {
        &__list {
            display: none;
        }

        .hamburger {
            display: block;
        }
    }
}