@import './mixins';
@import './variables';

.play {
    width: 100%;
    height: 100%;
    background-color: $sub-page-background;

    &__grid {
        padding: 1rem;
        padding-top: 5rem;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(9, 100px);

        .play__grid-piece {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .five {
            grid-column: 1 / span 3;
            grid-row: 1 / 3;
        }

        .four {
            grid-column: 7 / span 3;
            grid-row: 1 / 3;
        }

        .three {
            grid-column: 5 / span 1;
            grid-row: 1 / 3;
        }

        .two {
            grid-column: 1 / span 3;
            grid-row: 5 / span 3;
        }

        .one {
            grid-column: 7 / span 3;
            grid-row: 5 / span 3;
        }

        .symbol {
            width: 50%;
            cursor: pointer;
            transition: transform .2s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }

        .symbol-one {
            grid-column: 7 / span 1;
            grid-row: 1 / span 1; 
            justify-self: end;
        }

        .symbol-two {
            grid-column: 6 / span 1;
            grid-row: 2 / span 1; 
            justify-self: end;
        }

        .symbol-three {
            grid-column: 2 / span 1;
            grid-row: 4 / span 1;
            align-self: end;
        }
    }
}