@import './mixins';
@import './variables';

.play {
    width: 100%;
    height: 100%;
    background-color: $sub-page-background;

    &__grid {
        padding: 1rem;
        padding-top: 5rem;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(8, 100px);

        .play__grid-piece {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .five {
            grid-column: 1 / span 3;
            grid-row: 1 / 3;
        }

        .four {
            grid-column: 7 / span 3;
            grid-row: 1 / 3;
        }

        .three {
            grid-column: 5 / span 1;
            grid-row: 1 / 3;
        }

        .two {
            grid-column: 1 / span 3;
            grid-row: 5 / span 3;
        }

        .one {
            grid-column: 7 / span 3;
            grid-row: 5 / span 3;
        }

        .symbol {
            width: 40%;
            cursor: pointer;
            transition: transform .1s ease-in-out;

            img:hover {
                transform: scale(1.1);
            }

            img:active {
                transform: scale(1.0);
            }
        }

        .symbol-one {
            grid-column: 6 / span 1;
            grid-row: 2 / span 1; 
            justify-self: end;
        }

        .symbol-two {
            grid-column: 7 / span 1;
            grid-row: 1 / span 1; 
            justify-self: end;
        }

        .symbol-three {
            grid-column: 2 / span 1;
            grid-row: 4 / span 1;
            align-self: end;
        }

        .symbol-four {
            grid-column: 3 / span 1;
            grid-row: 3 / span 1;
            align-self: center;
            width: 30%;
        }

        .symbol-five {
            grid-column: 3 / span 1;
            grid-row: 4 / span 1;
            justify-self: end;
            align-self: center;
        }

        .symbol-six {
            grid-column: 1 / span 1;
            grid-row: 7 / span 1;
            align-self: center;
        }

        .symbol-seven {
            grid-column: 1 / span 1;
            grid-row: 4 / span 1;
            align-self: center;
        }

        .symbol-eight {
            grid-column: 5 / span 1;
            grid-row: 6 / span 1;
            align-self: center;
            z-index: 999;
            width: 100%;
            align-self: center;
            justify-self: center;
        }

        .symbol-nine {
            grid-column: 6 / span 1;
            grid-row: 5 / span 1;
            align-self: start;
            justify-self: center;
            width: 20%;
        }

        .symbol-ten {
            grid-column: 8 / span 1;
            grid-row: 3 / span 1;
            align-self: end;
            justify-self: end;
            width: 30%;
        }

        .symbol-eleven {
            grid-column: 9 / span 1;
            grid-row: 1 / span 1;
            justify-self: end;
            align-self: center;
            width: 30%;
        }

        .symbol-twelve {
            grid-column: 1 / span 1;
            grid-row: 5 / span 1;
            align-self: center;
            justify-self: end;
            transform: rotate(15deg);
        }

        .symbol-thirteen {
            grid-column: 8 / span 1;
            grid-row: 7 / span 1;
            align-self: start;
            justify-self: end;
            transform: rotate(180deg);
            width: 23%;
        }

        .symbol-fourteen {
            grid-column: 7 / span 1;
            grid-row: 5 / span 1;
            align-self: end;
            justify-self: center;
            width: 50%;
        }

        .overlay-hide {
            display: none;
        }

        .overlay-show {
            width: 100%;
            height: 100vh;
            background: rgba(0,0,0,0.6);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;

            .close {
                position: absolute;
                top: 3.5rem;
                right: 4rem;
                width: 50px;
                height: 50px;
                cursor: pointer;

                &__bar {
                    position: absolute;
                    top: 1.4rem;
                    left: 0;
                    height: 5px;
                    width: 50px;
                    background: #fff;

                    &:nth-child(1) {
                        transform: rotate(45deg);
                        animation: rotate1 .3s ease-in-out;
                    }

                    &:nth-child(2) {
                        transform: rotate(-45deg);
                        animation: rotate2 .3s ease-in-out;
                    }
                }
            }

            .video-one {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
    
                .video-show {
                    display: block;
                    width: 100%;
                }
            }
            
            
        }
    }
}

@media (max-width: 1000px) {
    .play {
    
        &__grid {
            grid-template-rows: repeat(8, 100px);
    
            .symbol {
                width: 40%;
            }
    
            .symbol-one {
                grid-column: 6 / span 1;
                grid-row: 2 / span 1; 
                justify-self: end;
            }
    
            .symbol-two {
                grid-column: 7 / span 1;
                grid-row: 1 / span 1; 
                justify-self: end;
            }
    
            .symbol-three {
                grid-column: 2 / span 1;
                grid-row: 4 / span 1;
                align-self: end;
            }
    
            .symbol-four {
                grid-row: 2 / span 1;
                align-self: end;
                width: 30%;
            }
    
            .symbol-five {
                grid-column: 3 / span 1;
                grid-row: 4 / span 1;
                justify-self: end;
                align-self: center;
            }
    
            .symbol-six {
                grid-column: 1 / span 1;
                grid-row: 7 / span 1;
                align-self: start;
            }
    
            .symbol-seven {
                grid-column: 1 / span 1;
                grid-row: 4 / span 1;
                align-self: center;
            }
    
            .symbol-eight {
                grid-column: 5 / span 1;
                grid-row: 4 / span 1;
                align-self: center;
                z-index: 999;
                width: 100%;
                align-self: end;
                justify-self: center;
            }
    
            .symbol-nine {
                grid-column: 6 / span 1;
                grid-row: 5 / span 1;
                align-self: start;
                justify-self: center;
                width: 20%;
            }
    
            .symbol-ten {
                grid-column: 8 / span 1;
                grid-row: 3 / span 1;
                align-self: start;
                justify-self: end;
                width: 30%;
            }
    
            .symbol-eleven {
                grid-column: 9 / span 1;
                grid-row: 1 / span 1;
                justify-self: end;
                align-self: center;
                width: 30%;
            }
    
            .symbol-twelve {
                grid-column: 1 / span 1;
                grid-row: 5 / span 1;
                align-self: center;
                justify-self: end;
                transform: rotate(15deg);
            }
    
            .symbol-thirteen {
                grid-column: 8 / span 1;
                grid-row: 6 / span 1;
                align-self: end;
                justify-self: end;
                transform: rotate(180deg);
                width: 23%;
            }
    
            .symbol-fourteen {
                grid-column: 7 / span 1;
                grid-row: 5 / span 1;
                align-self: start;
                justify-self: center;
                width: 50%;
            }
        }
    }
}

@media (max-width: 850px) {

}

@media (max-width: 700px) {

}

@media (max-width: 550px) {

}

@media (max-width: 400px) {

}


@media (min-width: 1560px) {
    .play {
    
        &__grid {
            grid-template-rows: repeat(8, 120px);
        }
    } 
}

@media (min-width: 1900px) {
    .play {
    
        &__grid {
            grid-template-rows: repeat(8, 140px);
        }
    } 
}


@keyframes rotate1 {
    from  {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(45deg);
    }
}

@keyframes rotate2 {
    from  {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-45deg);
    }
}