@import './mixins';
@import './variables';

.container {
    .landing-video {
        position: fixed;
        object-fit: cover;
        right: 0;
        bottom: 0;
        width: 100%;
        min-width: 100%;
        min-height: 100%;
    }
}

.play {
    width: calc(100% - 3rem);
    height: 100vh;
    margin: 0 auto;
    background-color: $sub-page-background;

    &__grid {
        padding: 1rem;
        padding-top: 5rem;
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(8, 1fr);

        .play__grid-piece {
            width: 100%;

            img {
                width: 100%;
            }
        }

        // neightborhoods

        .one {
            grid-column: 7 / span 3;
            grid-row: 5 / span 3;
            animation: slideRight 2s ease-in;
        }

        .two {
            grid-column: 1 / span 3;
            grid-row: 5 / span 3;
            animation: slideLeft 2s ease-in;
        }

        .three {
            grid-column: 5 / span 1;
            grid-row: 1 / 8;
            animation: slideMiddle 2s ease-in;
        }

        .four {
            grid-column: 7 / span 3;
            grid-row: 1 / 3;
            animation: slideRight 2s ease-in;
        }

        .five {
            grid-column: 1 / span 3;
            grid-row: 1 / 3;
            animation: slideLeft 2s ease-in;
        }

        // Extra Bushes

        .six {
            grid-column: 6 / span 1;
            grid-row: 1 / 2;
            animation: slideRight 2s ease-in;
        }

        .symbol {
            width: 40%;
            z-index: 2;
            cursor: pointer;
            transition: transform .1s ease-in-out;

            img:hover {
                transform: scale(1.1);
            }

            img:active {
                transform: scale(1.0);
            }
        }

        // Symbols

        .symbol-one {
            grid-column: 6 / span 1;
            grid-row: 5 / span 1;
            align-self: start;
            justify-self: center;
            width: 70%;

            &.active-14 {
                @include bounce;
            }

            &.intro-animation {
                animation: slideRight 2s ease-in;
            }
        }

        .symbol-two {
            grid-column: 5 / span 1;
            grid-row: 6 / span 1;
            align-self: center;
            z-index: 999;
            width: 100%;
            align-self: center;
            justify-self: center;

            &.intro-animation {
                animation: slideMiddle 2s ease-in;
            }

            &.active-13 {
                @include bounce;
            }
        }

        .symbol-three {
            grid-column: 4 / span 1;
            grid-row: 6 / span 1;
            align-self: end;

            &.intro-animation {
                animation: slideLeft 2s ease-in;
            }

            &.active-12 {
                @include bounce;
            }
        }


        .symbol-four {
            grid-column: 3 / span 1;
            grid-row: 4 / span 1;
            justify-self: end;
            align-self: center;

            &.intro-animation {
                animation: slideLeft 2s ease-in;
            }

            &.active-11 {
                @include bounce;
            }
        }

        .symbol-five {
            grid-column: 1 / span 1;
            grid-row: 7 / span 1;
            align-self: center;

            &.intro-animation {
                animation: slideLeft 2s ease-in;
            }

            &.active-10 {
                @include bounce;
            }
        }

        .symbol-six {
            grid-column: 1 / span 1;
            grid-row: 5 / span 1;
            align-self: center;
            justify-self: end;
            transform: rotate(15deg);

            &.intro-animation {
                animation: slideLeft 2s ease-in;
            }

            &.active-9 {
                @include bounce;
            }
        }

        .symbol-seven {
            grid-column: 1 / span 1;
            grid-row: 4 / span 1;
            align-self: center;

            &.intro-animation {
                animation: slideLeft 2s ease-in;
            }

            &.active-8 {
                @include bounce;
            }
        }

        .symbol-eight {
            grid-column: 3 / span 1;
            grid-row: 3 / span 1;
            align-self: center;
            width: 30%;

            &.intro-animation {
                animation: slideLeft 2s ease-in;
            }

            &.active-7 {
                @include bounce;
            }
        }

        .symbol-nine {
            grid-column: 6 / span 1;
            grid-row: 2 / span 1; 
            justify-self: end;

            &.intro-animation {
                animation: slideRight 2s ease-in;
            }

            &.active-6 {
                @include bounce;
            }
        }
        
        .symbol-ten {
            grid-column: 7 / span 1;
            grid-row: 1 / span 1; 
            justify-self: end;

            &.intro-animation {
                animation: slideRight 2s ease-in;
            }

            &.active-5 {
                @include bounce;
            }
        }

        .symbol-eleven {
            grid-column: 9 / span 1;
            grid-row: 1 / span 1;
            justify-self: end;
            align-self: center;
            width: 30%;

            &.intro-animation {
                animation: slideRight 2s ease-in;
            }

            &.active-4 {
                @include bounce;
            }
        }

        .symbol-twelve {
            grid-column: 8 / span 1;
            grid-row: 3 / span 1;
            align-self: flex-end;
            justify-self: end;
            width: 35%;

            &.intro-animation {
                animation: slideRight 2s ease-in;
            }

            &.active-3 {
                @include bounce;
            }
        }

        .symbol-thirteen {
            grid-column: 7 / span 1;
            grid-row: 5 / span 1;
            align-self: end;
            justify-self: center;
            width: 70%;
            z-index: 2;

            &.intro-animation {
                animation: slideRight 2s ease-in;
            }

            &.active-2 {
                @include bounce;
            }
        }

        .symbol-fourteen {
            grid-column: 8 / span 1;
            grid-row: 7 / span 1;
            align-self: start;
            justify-self: end;
            width: 70%;

            &.intro-animation {
                animation: slideRight 2s ease-in;
            }

            &.active-1 {
                @include bounce;
            }
        }

        // Video Overlay

        .overlay-hide {
            display: none;
        }

        .overlay-show {
            width: 100%;
            height: 100vh;
            background: rgba(0,0,0,0.6);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;

            .close {
                position: absolute;
                top: 3.5rem;
                right: 4rem;
                width: 50px;
                height: 50px;
                cursor: pointer;

                &__bar {
                    position: absolute;
                    top: 1.4rem;
                    left: 0;
                    height: 5px;
                    width: 50px;
                    background: #fff;

                    &:nth-child(1) {
                        transform: rotate(45deg);
                        animation: rotate1 .3s ease-in-out;
                    }

                    &:nth-child(2) {
                        transform: rotate(-45deg);
                        animation: rotate2 .3s ease-in-out;
                    }
                }
            }

            .video-one {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
    
                .video-show {
                    display: block;
                    width: 100%;
                }
            }
            
            
        }
    }
}

// Media Queries

@media (max-height: 900px) {
    .play {
        &__grid {
        }
    }
}

@media (max-width: 1200px) {
    .play {
    }
}

@media (max-width: 700px) {
    .play {
    
    }
}


@media (min-width: 1560px) {
    .play {
    
        &__grid {
        }
    } 
}

@media (min-width: 1900px) {
    .play {
    
        &__grid {
        }
    } 
}


// keyframe animations

@keyframes rotate1 {
    from  {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(45deg);
    }
}

@keyframes rotate2 {
    from  {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-45deg);
    }
}

@keyframes slideMiddle {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(300px);
        opacity: 0;
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bounce { 
    from { 
        transform: translate3d(0, 0, 0); 
    } 
    to { 
        transform: translate3d(0, 10px, 0); 
    } 
} 