@import './variables';
@import './mixins';

.protagonist {
    @include sub-page-setup;

    .page-nav-background {
        @include page-nav-background;
    }

    &__content {
        @include sub-page-content;

        p {
            font-size: $p;
        }

        h2:not(:nth-child(1)), p, h3, image {
            margin: 1rem auto;
        }

        h2 {
            font-size: $h2;
            text-align: center;
            text-transform: uppercase;
        }

        .protagonist__content-image {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
}