// Text Color

$primary-color: #fff;
$secondary-color: #000;

//Font Size

$overlay-size: 2rem;
$overlay-dropdown-size: 1.3rem;


// Breakpoints

$desktop: 1200px;
$tablet: 900px;
$mobile: 650px;

// hamburger transition

$hamburger-transition: all 200ms ease-in-out;

// background image overlay

$overlay-color: rgba(0,0,0,.2);

// Dropdown background color

$dropdown-background: #212121;

