// Text Color

$primary-color: #fff;
$secondary-color: #000;

//Font Size

$h1: 5rem;
$h1-mobile: 3rem;

$h2: 2rem;

$p: 1.3rem;

$overlay-size: 2rem;
$overlay-dropdown-size: 1.3rem;


// Breakpoints

$desktop: 1200px;
$tablet: 900px;
$mobile: 650px;

// hamburger transition

$hamburger-transition: all 200ms ease-in-out;

// background image overlay

$overlay-color: rgba(0,0,0,.2);

// Dropdown background color

$dropdown-background: #212121;

// You Play Here About Background

$sub-page-background: #000;

