@import './variables';
@import './mixins';

.play-about {
    width: 100%;
    height: 100vh;
    padding-top: 8rem;
    background: $sub-page-background;
    color: $primary-color;

    .page-nav-background {
        @include page-nav-background;
    }

    &__content {
        width: 70%;
        margin: 0 auto;

        h2 {
            font-size: $h2;
            text-align: center;
            text-transform: uppercase;
        }
    }
}