@import './variables';
@import './mixins';

.play-about {
    @include sub-page-setup;

    .page-nav-background {
        @include page-nav-background;
    }

    &__content {
        @include sub-page-content;

        p {
            font-size: $p;
        }

        h2 {
            font-size: $h2;
            text-align: center;
            text-transform: uppercase;
        }
    }
}