@import './variables';

.play-about {
    width: 100%;
    height: 100vh;
    padding-top: 8rem;
    background: $you-play-about-background;
    color: $primary-color;

    &__content {
        width: 70%;
        margin: 0 auto;

        h2 {
            font-size: $h2;
            text-align: center;
            text-transform: uppercase;
        }
    }
}